## ATTRITION : 
The rate at which employees leave an organization over a particular period of time, when the company does not seek to fill the position.

### EMPLOYEE ATTRITION RATE :
Employee Attrition Rate is calculated as the percentage of employees who left the company in a given period to the total average number of employees within that period.

### AIM OF PROJECT:
To help a company understand the attrition in their organization to minimize the attrition rate, so that turnover costs are reduced and employees can be retained for a longer period.To explore the dataset and it's different features
Understand the relationship between the different varaibles
Find the variables that tend to have a larger number of employees with positive attrition

## Overview of project:
Exploratory data analysis of an attrition survey conducted.
Built a model to calculate the attrition rate in an organisation.

## Exploratory Data Analysis :
Exploratory Data Analysis is an initial process of analysis, in which we can summarize characteristics of data such as pattern, trends, outliers, and hypothesis testing using descriptive statistics and visualization.

## Import Dataset and Libraries

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import seaborn as sns

In [ ]:
attr = pd.read_csv("attrition data.csv")

In [ ]:
attr

## EDA on the Datasets

In [ ]:
attr.shape

In [ ]:
attr.isnull()

In [ ]:
attr.isnull().sum()

There are no null entries in existing employee dataset.

In [ ]:
attr.describe()

In [ ]:
num = attr.select_dtypes(include=np.number).columns
len(num)

In [ ]:
for i in num:
    print("The no.of unique values in",i,"are: ",attr.loc[:,i].nunique())

## Column Description


#### Independent Variables were:
    
    Age: Age of employees,
    Department: Department of work,
    Distance from home,
    Education: 1-Below College; 2-College; 3-Bachelor; 4-Master; 5-Doctor;
    Education Field
    Environment Satisfaction: 1-Low; 2-Medium; 3-High; 4-Very High;
    Job Satisfaction: 1-Low; 2-Medium; 3-High; 4-Very High;
    Marital Status,
    Monthly Income,
    Num Companies Worked: Number of companies worked prior to IBM,
    Work Life Balance: 1-Bad; 2-Good; 3-Better; 4-Best;
    Years At Company: Current years of service in IBM
#### Dependent Variable was:
    
    Attrition: Employee attrition status(0 or 1)

## Top 5 values

In [ ]:
attr.head()

## last 5 values

In [ ]:
attr.tail()

 ## If there is any duplicate values

In [ ]:
attr.duplicated()

## Value counts of duplicate values

In [ ]:
attr.duplicated().value_counts()

###### There are No Duplicate Columns.

## Unique values of every columns

In [ ]:
attr.nunique()

## Data Insights
###### In the given dataset, we have two types of employee one who stayed and another who left the company.

## Attrition

In [ ]:
att_count=pd.DataFrame(attr["Attrition"].value_counts())
att_count

## Distribution of Attrition

In [ ]:
plt.pie(att_count["Attrition"],labels=['No','Yes'],autopct='%.1f%%', explode=(0.2,0))
plt.show()

In [ ]:
attr['Attrition'].value_counts().plot(kind='barh', figsize=(12,4), color="coral", fontsize=13)

plt.xlabel("Count of people", fontsize=12)
plt.ylabel("Attrition", fontsize=12)
plt.title("Attrition of the employees", fontsize=16)
plt.show()

## Age and Attrition

In [ ]:
#Number of Unique values

attr["Age"].nunique()

In [ ]:
attr.hist(column="Age",
         grid=False,
         figsize=(6,4),
         color="indigo",
         edgecolor="black",
         bins=12)

plt.xlabel("Age values",fontsize=12)
plt.ylabel("frequency of emp",fontsize=12)
plt.title("Histogram of Age",fontsize=16)

plt.show()

###### Most of the employees, who have been a part of the company, tend to fall in the age range from 25 years to 45 years. (68–95–99 rule)

In [ ]:
attr['Age'].value_counts().plot(kind='bar', figsize=(15,4), color="coral", fontsize=13)

plt.xlabel("Age groups", fontsize=12)
plt.ylabel("Count of people", fontsize=12)
plt.title("Age of the employees", fontsize=16)
plt.show()

###### Maximum employees age lies in the range of 30 to 40

In [ ]:
t = pd.crosstab(attr.Age,columns = attr.Attrition)
t

## What age group is more likely to leave?

In [ ]:
plt.subplots (figsize=(15,4))
sns.countplot (x='Age',  hue='Attrition', data= attr, palette = 'colorblind')
plt.show()

###### The proportion of employees who left was comparatively less among the senior level employees. Maybe these employees were at a higher authority and were less likely to leave that position.

###### Major Attrition occured among the mid-career level employees. Career change and career growth could be one of the possibilities for such an attrition levels.

In [ ]:
attr.boxplot(column = 'Age', by = 'Attrition', vert= False)
plt.show()

##### we can express that Age does not play a powerful role in influencing attrition  but In the above plot we can see that affirmative attrition count is higher in late 20 and early 30s.

## MonthlyIncome

##### There are 1470 employees under our analysis for monthly income (in our sample)

• Ordinal data(numerical)

• The employees in the organization are earning from 1009 To 19,999.

• 25%(1st quartile) of the employees under our analysis in our sample are earning monthly salary less than or equal to 2911.

• 50%(median-2nd quartile) of the employees under our analysis in our sample are earning monthly salary less than or equal to 4919.

• 75%(3rd quartile) of the employees under our analysis in our sample are earning monthly salary less than or equal to 8379.

• The mean monthly income received by the employees are 6502.93.

In [ ]:
attr.MonthlyIncome.describe()

In [ ]:
attr["MonthlyIncome"].nunique()

In [ ]:
sns.distplot(attr['MonthlyIncome']) 
plt.show()

##### This variable is left skewed distribution,meaning most of its values are located at the lower end(2000-6000)

In [ ]:
p_attr = attr.loc[attr['Attrition'] == "Yes"]
n_attr = attr.loc[attr['Attrition'] == "No"]

In [ ]:
sns.distplot(n_attr['MonthlyIncome'], label='Negative attrition')
sns.distplot(p_attr['MonthlyIncome'], label='positive attrition')
plt.show()

##### There is high attrition rate among employees of relatively lower salary range, ie. less than 5000.

In [ ]:
sns.catplot(x="Attrition",y="MonthlyIncome",kind="box",data=attr)   
plt.title("Box plot grouped by Attrition")
plt.show()

##### There is high attrition rate among employees of relatively lower salary range, ie. less than 5000.

In [ ]:
sns.catplot(x="MaritalStatus",y="MonthlyIncome",hue="Attrition" ,kind="boxen",data=attr)   ##box graph
plt.show()

##### This will show monthly income and attrition using Marital Status category

In [ ]:
attr.plot.scatter(x = 'MonthlyIncome', y = 'Age',
                  color = 'sandybrown', title = 'MonthlyIncome vs Age')
plt.show()

In [ ]:
sns.violinplot(x ="JobSatisfaction", y ="MonthlyIncome", hue ="Attrition",
data = attr, split = True)
plt.show()

## JobSatisfaction

 ##### There are 1470 employees under our analysis for Job Satisfaction (in our sample)

 Nominal data(categorical)

 There are 4 categories in this data sample: 1,2,3 and 4

 Here, 1 corresponds to least Job Satisfaction and 4 corresponds to the highest Job Satisfaction.

 The count analysis of the Job Satisfaction category:  4 459  3 442  1 289  2 280

 Highest rating is with ‘Job Satisfaction 4’ with a count of 459.  Least rating is with ‘Job Satisfaction 1’ with a count of 280.

In [ ]:
#Number of Unique values
attr["JobSatisfaction"].unique().size

In [ ]:
attr["JobSatisfaction"].value_counts()

## Here JobSatisfaction Counts are shown by Graph

In [ ]:
sns.countplot(attr["JobSatisfaction"])
plt.xticks(rotation=90)
plt.show()

In [ ]:
labels = ['4', '3','1','2']
plt.pie(attr.JobSatisfaction.value_counts(), labels=labels, autopct='%.1f%%')
plt.show()

In [ ]:
sns.relplot(x="JobSatisfaction",y="MonthlyIncome",hue="Attrition",kind="line",data=attr)
plt.show()

## Department

• Nominal data(categorical)

• There are 3 categories in this data sample: Human Resources, Sales and Research & Development.

• The count of employees in these categories are: Human Resources = 63 Sales = 446 Research and Development = 961

• Under our analysis in the sample, 65.37% of the employees work in the Research and Development department, which is the maximum, 30.34% of the employees work in the Sales department and 4.28% of the employees work in the Human Resources department which is the least in the organization.

In [ ]:
attr["Department"].value_counts()

## Plot of different department

In [ ]:
labels = ['Research & Development', 'Sales', 'Human Resources']
plt.pie(attr.Department.value_counts(), labels=labels, autopct='%.1f%%')
plt.show()

In [ ]:
t3 = pd.crosstab(attr.Department,columns = attr.Attrition)
t3

## Replace Attrition to numeric values

In [ ]:
attr = attr.replace("Yes", 1)

In [ ]:
attr = attr.replace("No", 0)

In [ ]:
attr.groupby('Department')['Attrition'].mean()

In [ ]:
sns.catplot(x="Department",y="Attrition" ,hue="MaritalStatus",kind="bar",data=attr)   
plt.show()

##### Employees in R&D department seem to have less attrition rate among other department employees, with higher attrition in both Human Resources and Sales Department.

In [ ]:
sns.catplot(x="Department",y="Attrition" ,col="MaritalStatus",kind="bar",data=attr)   
plt.show()

##### when drilled down by Marital status, sales singles seem to have almost twice the attrition rate of sales married employees.

## Categorical plot between MonthlyIncome and Department and Attrition

In [ ]:
sns.catplot(x="Department",y="MonthlyIncome" ,hue="Attrition",kind="box",data=attr)   
plt.show()

##### Here shows less income employee from human resorce has more Attrition

In [ ]:
sns.catplot(x="Department",y="Age" ,kind="box",data=attr)   
plt.show()

###### It shows relation between departments and age which normally distributed

In [ ]:
tab=pd.crosstab(attr["Department"],attr["Attrition"],normalize='index')*100

tab.plot(kind="bar")
plt.show()


print(tab)

## Education Field

• Nominal data(categorical)

• There are 6 categories in this data sample: Human Resources, Life sciences, Marketing, Medical, Other and Technical degree

• The count of employees from these educational backgrounds are: Human Resources = 27 Life Sciences = 606 Marketing = 159 Medical = 464 Technical Degree = 132 Other = 82

• Under our analysis in the sample, 41.22% of the employees are from life sciences educational background, which is the maximum, 31.56% of the employees are from medical educational background, 10.81% of the employees are from marketing educational background, 8.97% of the employees are from technical degree educational background, 5.57% of the employees are from other educational background, 1.83% of the employees are from Human Resources background, which is the least in the organization.

In [ ]:
#Number of Unique values
attr["EducationField"].nunique()

In [ ]:
attr["EducationField"].value_counts()

In [ ]:
attr["EducationField"].value_counts().plot(kind="barh",figsize=(8,4),fontsize=13)
plt.show()

In [ ]:
labels = ['Life Sciences', 'Medical', 'Marketing','Technical Degree','Other','Human Resources']
plt.pie(attr.EducationField.value_counts(), labels=labels, autopct='%.1f%%')
plt.show()

In [ ]:
t4 = pd.crosstab(attr.EducationField,columns = attr.Attrition)
t4

In [ ]:
tab=pd.crosstab(attr["EducationField"],attr["Attrition"],normalize='index')*100

tab.plot(kind="bar")
plt.show()


print(tab)

###### We can see that HR(25%),Marketing(22%),Technical(24%) education have attrition rates than the average of 16%. Hence we can say that these 3 education result in higher attrition

## Can low salary be one of the reasons?
###### Employees with Life Sciences, Medical and other educational background are leaving less as compared to HR,Marketing and Tech

#### Can low salary be a reason? let's find out

In [ ]:
attr.groupby('EducationField').MonthlyIncome.mean()

###### No,because even though the salary of HR and marketing employees is higher, their leaving rate is highest.

In [ ]:
sns.violinplot(x ="EducationField", y ="MonthlyIncome", hue ="Attrition",
data = attr, split = True)
plt.show()

## Subplot

In [ ]:
sns.relplot(x="Age",y="MonthlyIncome",hue="Attrition",col="MaritalStatus",data=attr)   ##subplot
plt.show()

## Environmental Satisfaction

###### There are 1470 employees under our analysis for Environment Satisfaction (in our sample)

• Nominal data(categorical)

• There are 4 categories in this data sample: 1,2,3 and 4.

• Here, 1 corresponds to least environment satisfaction and 4 corresponds to the highest environment satisfaction.

• The count analysis of the Environment satisfaction category: • The employees who gave Environment satisfaction rating 1 is 284(19.34%) • The employees who gave Environment satisfaction rating 2 is 287 (19.52%) • The employees who gave Environment satisfaction rating 3 is 453 (30.8%) • The employees who gave Environment satisfaction rating 4 is 446 (30.34%)

 Most rating is with Environment satisfaction 3 with a count of 453  Least rating is with Environment satisfaction 1 with a count of 284

In [ ]:
#Number of Unique values
attr["EnvironmentSatisfaction"].value_counts()

In [ ]:
attr["EnvironmentSatisfaction"].value_counts().plot(kind="bar",figsize=(4,6),fontsize=13)
plt.xlabel("EnvironmentSatisfaction", fontsize=12)
plt.ylabel("Count of employees", fontsize=12)
plt.title("Bar plot on category EnvironmentSatisfaction", fontsize=16)
plt.show()

In [ ]:
labels = ['3', '4', '2','1']
plt.pie(attr.EnvironmentSatisfaction.value_counts(), labels=labels, autopct='%.1f%%')
plt.show()

In [ ]:
t5 = pd.crosstab(attr.EnvironmentSatisfaction,columns = attr.Attrition)
t5

## percentage of EnvironmentSatisfaction numbers using attrition

In [ ]:
tab = pd.crosstab(attr["EnvironmentSatisfaction"],attr["Attrition"],normalize='index')*100
print(tab)
tab.plot(kind='bar')
plt.show()

###### Here, we can see that people with low environmental score of 1 have higher attrition rate(25%) than the average attrition rate of 16%

In [ ]:
plt.subplots (figsize=(22,8))
sns.countplot (x='Age',  hue='EnvironmentSatisfaction', data= attr, palette = 'colorblind')
plt.show()

In [ ]:
sns.relplot(x="EnvironmentSatisfaction",y="MonthlyIncome",hue="Attrition",kind="line",data=attr)
plt.show()

## MaritalStatus

###### There are 1470 employees under our analysis for Marital Status (in our sample)

 Nominal data(categorical)

 There are 3 categories in this data sample: Single, Married and Divorced.

 The count analysis of the Marital Status category:  Married 673  Single 470  Divorced 327

• Employees with the “Married” status have maximum count in the given data set. • Employees with the “Divorced” status have minimum count in the given data set.

In [ ]:
attr["MaritalStatus"].value_counts()

## Who is leaving more? married ,un-married or divorced employees?

In [ ]:
labels = ['Married', 'Single','Divorced']
plt.pie(attr.MaritalStatus.value_counts(), labels=labels, autopct='%.1f%%')
plt.show()

In [ ]:
attr['MaritalStatus'].value_counts().plot(kind='barh', figsize=(6,4), color="coral", fontsize=13)

plt.xlabel("Count of people", fontsize=12)
plt.ylabel("MaritalStatus", fontsize=12)

plt.show()

In [ ]:
attr.groupby('MaritalStatus').Attrition.mean()

###### Singles tend to have a little higher attrition rate than others.

In [ ]:
tab = pd.crosstab(attr["MaritalStatus"],attr["Attrition"],normalize='index')*100

tab.plot(kind='bar')
plt.show()

###### Single employee has high attrition rate(25%) compared to average attrition rate of 16%.Similarly, divorced employees have low attrition rate(10%) compared to the average of 16%.

## WorkLifeBalance

 ###### There are 1470 employees under our analysis for Work Life Balance(in our sample) • Nominal data(categorical)

• There are 4 categories in this data sample: 1,2,3 and 4.

• Here, 1 corresponds to least Work Life Balance and 4 corresponds to the highest Work Life Balance.

• The count analysis of the Work Life Balance category: • The employees who gave Work Life Balance rating 1 is 80 (5.44%) • The employees who gave Work Life Balance rating 2 is344 ( 23.40%) • The employees who gave Work Life Balance rating 3 is 893 (60.07%) • The employees who gave Work Life Balance rating 4 is 153 (10.40%)

 Most rating is with Work Life Balance is 3 with a count of 893  Least rating is with Work Life Balance 1 with a count of 80

In [ ]:
attr["WorkLifeBalance"].value_counts()

In [ ]:
sns.countplot(attr["WorkLifeBalance"])
plt.xticks(rotation=50)
plt.show()

In [ ]:
labels = ['3', '2','4','1']
plt.pie(attr.WorkLifeBalance.value_counts(), labels=labels,autopct='%.1f%%')
plt.show()

In [ ]:
tab = pd.crosstab(attr["WorkLifeBalance"],attr["Attrition"],normalize='index')*100

tab.plot(kind='bar')
plt.show()

###### People with work life balance of 1 have high attrition rate(31%) compared to the population attrition rate of 16%.

###### Hence poor work life balance increases attrition.

## Years At Company

 
###### There are 1470 employees under our analysis for Years At Company (in our sample)
• Ordinal data(numerical)

• Range of Years At Company is between 0 years to 40 years: This company has employees across the spectrum from zero years experience till employees with 40 years of experience.

• Mean years in company of employees in the data sample is 7.008

• 25%(1st quartile) of the employees under our analysis in our sample are of years less than or equal to 3 years. • 50%(median-2nd quartile) of the employees under our analysis in our sample are of years less than or equal to 5. It provides the years ‘midpoint’ of employees of organization; there are the same number of people who are have more years than the median years. • 75%(3rd quartile) of the employees under our analysis in our sample have Years At Company less than or equal to 9.

• At least 75% of the employees under our analysis in our sample have Years At Company between 5.24(mean-2sd) and 19.24(mean+2sd)

• The maximum number(mode) of employees with years in the company under our analysis in our sample is 5 years.

• The minimum number of employees of the years in the company under our analysis in our sample are of age 1. (4 in number)

• The mean is greater than the median, so the distribution of variable mean will have its tail towards the right side. This indicates that the sample is positively skewed.

In [ ]:
attr.YearsAtCompany.describe()

## Are Employees leaving after working for certain number years?

In [ ]:
attr['YearsAtCompany'].value_counts().plot(kind='bar', figsize=(19,4), color="coral", fontsize=13)

plt.xlabel("Years At Company", fontsize=12)
plt.ylabel("Count of Employees", fontsize=12)
plt.show()

In [ ]:
plt.subplots (figsize=(22,8))
sns.countplot (x='YearsAtCompany',  hue='Attrition', data= attr, palette = 'colorblind')
plt.show()

##### Employees who have worked for less number of years tend to leave more.

## Distance From Home

###### There are 1470 employees under our analysis for ‘Distance from Home’ (in our sample). • Ordinal data(numerical)

• Range of ‘Distance from Home’ is between 1 years to 29 years.

• Mean ‘Distance from Home’ of employees in the data sample is 9.19.

In [ ]:
attr.DistanceFromHome.describe()

In [ ]:
attr.hist(column="DistanceFromHome",
         grid=False,
         figsize=(6,4),
         color="indigo",
         edgecolor="black",
         bins=10)

plt.xlabel("Distance From Home",fontsize=12)
plt.ylabel("Frequency",fontsize=12)
plt.title(" Employee 'Distance From Home' Analysis ",fontsize=16)

plt.show()

In [ ]:
attr['DistanceFromHome'].value_counts().plot(kind='bar', figsize=(10,6), color="coral", fontsize=13)

plt.xlabel("Distance From Home", fontsize=12)
plt.ylabel("Count of Employees", fontsize=12)
plt.title(" Employee 'Distance From Home' Analysis ", fontsize=16)
plt.show()

###### This graph shows most of the employees prefer to live colser to their home.

In [ ]:
sns.boxplot(x = "DistanceFromHome",y= "Age",data = attr, palette = "autumn_r")
plt.gcf().set_size_inches(8, 6)

###### This box plot shows DistanceFromHome with respect to age.It does not show any difference so it is normally distributed.

In [ ]:
attr.groupby(['Age','Attrition'])['DistanceFromHome'].size().unstack().plot(kind='bar', figsize=(12,6),stacked=True)
plt.show()

## Relation plot between Monthly Income and Age by Marital status

In [ ]:
sns.relplot(x="MonthlyIncome",y="Age",hue="MaritalStatus",data=attr)   
plt.show()                                        ##

### Relation between employee's  YearsAtCompany and their age with attrition

In [ ]:
sns.relplot(x="YearsAtCompany",y="Age",hue="Attrition",col="MaritalStatus",data=attr) ##diffrnt colm with diffn class
plt.show()

In [ ]:
sns.pairplot(attr, vars=["YearsAtCompany","Age","MonthlyIncome"])
plt.show()

 Here pair plot pairwise relationships in attrition dataset so that here all variables in attr will be plotted against each other variable in the dataset.

## Corelation

In [ ]:
attr.corr()

In [ ]:

sns.heatmap(attr.corr())               ###heatmap
plt.show()

In [ ]:
plt.figure(figsize = (14,14))
sns.heatmap(attr.corr(), annot=True)               ###heatmap
plt.show()

Variables such as TotalWorkingYears, YearsAtCompany, YearsInCurrentRoleare highly corelated to each other.

This graph shows Pearson’s correlation values, and there is a presence of high correlations values among different sets of variables such as Monthly Income,  Total Working Hours and many more.

'Years at Company' and 'Monthly Imcome': 0.51 -------> More experiece more salary

'Age' and 'Monthly Income': 0.49 --------> old employees have more experience

'Age' and 'Years at Company' : 0.31

'Age' and 'Number of Companies Worked': 0.29

'Work Life Balance', 'Job Satisfaction' and 'Environment Satisfaction' do not have strong correlation with other features

## pandas_profiling

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
profiling = ProfileReport(attr)

In [ ]:
profiling

In [ ]:
profiling.to_file("attr.html")

It will save profiling data in another file named attr.html

## Findings after performing Analysis :-
#### Based on Age:
Range of age is between 18 years to 60 years: This company has employees across the spectrum from recent graduates to the retirement age. Since the maximum age bracket with highest number of employees are between 30 -36, we can safely assume that the company prefers employees who have considerable work experience.

#### Based on Department:
Since 65% of the employees are in Research and development, we can assume that the company activities include innovation and introducing new products and services. Ostensibly, the goal of the company would be to take new products and services to market and add to the company's bottom line.

#### Based on Education Field:
Since 41% and 31% of the employees are from the Life sciences and medical backgrounds respectively, we can say that the company is majorly based out of bio-technology and R&D. This further strengthens our earlier propositions.

#### Based on Environment Satisfaction:
Since more than 60% of the employees have voted for the top 2 categories in environment satisfaction, we can say that the majority of employees feel comfortable working in this organization. However, 40% of the employees seem to need improvement in their working environment.

#### Based on Job Satisfaction:
Only 30% of employees in the organization have given the highest rating for job satisfaction. This shows that there is still a lot of room for improvement. 

#### Based on Marital Status:
As 45% of the employees in the organization are married, the company appears to give a stable and well-paying job profile to the employees. Marital status is also an important indicator of organisational commitment. Generally, married people are more committed to their organisation than unmarried people.

#### Based on Monthly Income:
It is negatively correlated to attrition. Lesser the Monthly Income, higher the attrition rate. Employees with salary around 2500 are more prone to leave the company.

#### Based on WorkLifeBalance :
60% of employees have given second best rating. This could again hint at a 'neutral response bias' and it involves a certain subjectivity of interpreting a correct work-life balance.

#### Based on Years At Company:
The dataset reveals that a majority of the employees (75%) have a work experience of less than 9 years at the company. There appears to be a tapering down of career progression above 10 years. If the company can positively tackle this, it can greatly benefit the organisation.

#### Based on Distance From Home:
A large number of employees are residing close to the company (50% of the employees are at a distance of 7km). There is a possibility that accomodation facilities are provided by the company, since the maximum count of employees are at a distance of 2 km.

## To reduce the attrition rate I would recommend:
Offer support: Provide work-life balance programs and flexible work arrangements that help employees manage their workload and reduce overtime. Offer mentorship and coaching programs that support employees in their current roles and help them develop the skills required for future roles.

Encourage career growth: Provide career advancement opportunities, training programs, and mentorship to support employee progression to higher job levels.

Offer competitive compensation: Offer competitive salaries and benefits that align with the market standards and recognize and reward long-serving employees for their commitment to the organization.

Foster a positive work environment: Provide a positive and inclusive work environment that encourages employee engagement and job satisfaction.

Gather employee feedback: Conduct regular employee engagement surveys to understand the underlying reasons for employee turnover and take corrective actions accordingly.